{% load static %}

<img src="https://makalumountaineering.com/static/assets/landscape.svg" alt="SVG Image">
<footer class="footer -type-1">
    <div class="footer__main">
      <div class="footer__bg">
        <img src="{% static "img/footer/1/bg.svg" %}" alt="image">
      </div>

      <div class="container">
        <div class="footer__info">
          <div class="row y-gap-20 justify-between">
            <div class="col-auto">
              <div class="row y-gap-20 items-center">
                <div class="col-auto">
                  <i class="icon-headphone text-50"></i>
                </div>

                <div class="col-auto">
                  <div class="text-20 fw-500">
                    Speak to our expert at
                    <span class="text-accent-1">(+977) 98436852567</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="footerSocials">
                <div class="footerSocials__title">
                  Follow Us
                </div>

                <div class="footerSocials__icons">
                  <a href="https://www.facebook.com/profile.php?id=100092575794417l" class="icon-facebook"></a>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="https://www.instagram.com/makalumountaineering/" class="icon-instagram"></a>
                  <a href="https://www.linkedin.com/in/makalu-mountaineering-024bb2278/" class="icon-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer__content">
          <div class="row y-gap-40 justify-between">
            <div class="col-lg-4 col-md-6">
              <h4 class="text-20 fw-500">Contact</h4>

              <div class="y-gap-10 mt-20">
                <a class="d-block" href="#"><i class="fa-solid fa-location-dot" style="margin-right:10px"></i>White Gumba, Ramkot - 6, Kathmandu</a>
                <a class="d-block" href="mailto:info@makalumountaineering.com"><i class="fa-solid fa-envelope" style="margin-right:10px"></i>info@makalumountaineering.com</a>
              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500">Region</h4>

              <div class="y-gap-10 mt-20">

                <a class="d-block fw-500" href="#">
                  Everest Region
                </a>

                <a class="d-block fw-500" href="#">
                  Annapurna Region
                </a>

                <a class="d-block fw-500" href="#">
                  Langtang Region
                </a>

                <a class="d-block fw-500" href="#">
                  Mustang Region
                </a>

                <a class="d-block fw-500" href="#">
                  Manasalu Region
                </a>

              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500">Company</h4>

              <div class="y-gap-10 mt-20">

                <a class="d-block fw-500" href="#">
                  Get in Touch
                </a>

                <a class="d-block fw-500" href="#">
                  Teams
                </a>

                <a class="d-block fw-500" href="#">
                  Blogs
                </a>

                <a class="d-block fw-500" href="#">
                  Certification and Documents
                </a>

                <a class="d-block fw-500" href="#">
                  Travel Tips
                </a>

              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <h4 class="text-20 fw-500">Newsletter</h4>
              <p class="mt-20">Subscribe to the free newsletter and stay up to date</p>

              <div class="footer__newsletter">
                <input type="Email" placeholder="Your email address">
                <button>Send</button>
              </div>

              <h4 class="text-20 fw-500 mt-50">We Accept</h4>

              <div class="col-auto mt-20">
                <div class="footer__images d-flex items-center x-gap-10">
                  <img src="{% static "img/footer/cards/1.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/2.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/3.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/4.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/5.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/6.png" %}" alt="image">
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="footer__bottom">
        <div class="row y-gap-5 justify-between items-center">
          <div class="col-auto">
            <div>© Copyright Makalu Mountaineering 2023</div>
          </div>

          <div class="col-auto">
            <div class="footer__images d-flex items-center x-gap-10">
              Terms and Conditions / Privacy Policy
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
