{% load static %}

<img src="{% static "img/landscape.svg" %}" alt="SVG Image">
<footer class="footer -type-1">
    <div class="footer__main">
      <div class="footer__bg">
        <img src="{% static "img/footer/1/bg.svg" %}" alt="image">
      </div>

      <div class="container">
        <div class="footer__info">
          <div class="row y-gap-20 justify-between">
            <div class="col-auto">
              <div class="row y-gap-20 items-center">
                <div class="col-auto">
                  <i class="icon-headphone text-50"></i>
                </div>

                <div class="col-auto">
                  <div class="text-20 fw-500">
                    Speak to our expert at
                    <span class="text-accent-1">(+977) <a href="tel:+9779843685256">9843685256</a></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="footerSocials">
                <div class="footerSocials__title">
                  Follow Us
                </div>

                <div class="footerSocials__icons">
                  <a href="https://www.facebook.com/profile.php?id=100092575794417l" class="icon-facebook"></a>
                  <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                  <a href="https://www.instagram.com/makalumountaineering/" class="icon-instagram"></a>
                  <a href="https://www.linkedin.com/in/makalu-mountaineering-024bb2278/" class="icon-linkedin"></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="footer__content">
          <div class="row y-gap-40 justify-between">
            <div class="col-lg-4 col-md-6">

              <h4 class="text-20 fw-500">About</h4>

              <div class="y-gap-10 mt-20">
                <p>Welcome to Makalu Mountaineering Treks, your premier adventure company in Nepal. Our dedicated team of experienced guides is passionate about sharing the beauty of the Himalayas, ensuring a safe and memorable trekking experience for adventure seekers worldwide.</p>
              </div>


              {% comment %} <h4 class="text-20 fw-500">Contact</h4> {% endcomment %}

              <div class="y-gap-10 mt-20">
                <a class="d-block" href="#"><i class="fa-solid fa-location-dot" style="margin-right:10px"></i>White Gumba, Ramkot - 6, Kathmandu</a>
                <a class="d-block" href="mailto:info@makalumountaineering.com"><i class="fa-solid fa-envelope" style="margin-right:10px"></i>info@makalumountaineering.com</a>
              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500">Region</h4>

              <div class="y-gap-10 mt-20">
                {% for region in regions|slice:"0:7" %}
                <a class="d-block fw-500" href="/search/?region={{region.name}}">
                  {{region.name|title}}
                </a>

                {% endfor %}

                

              </div>
            </div>

            <div class="col-lg-auto col-6">
              <h4 class="text-20 fw-500">Company</h4>

              <div class="y-gap-10 mt-20">

                <a class="d-block fw-500" href="/contact-us/">
                  Get in Touch
                </a>

                <a class="d-block fw-500" href="/about-us/">
                  Teams
                </a>

                <a class="d-block fw-500" href="/blogs/">
                  Blogs
                </a>

                <a class="d-block fw-500" href="/document-and-certificates/">
                  Certification and Documents
                </a>

                <a class="d-block fw-500" href="/trip-advisory/">
                  Travel Tips
                </a>

              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <h4 class="text-20 fw-500">Newsletter</h4>
              <p class="mt-20">Subscribe to the free newsletter and stay up to date</p>

              <div class="footer__newsletter">
                <input type="email" placeholder="Your email address" id="email-input">
                <button id="subscribe-btn">Send</button>
              </div>

              <h4 class="text-20 fw-500 mt-50">We Accept</h4>

              <div class="col-auto mt-20">
                <div class="footer__images d-flex items-center x-gap-10">
                  <img src="{% static "img/footer/cards/1.png" %}" alt="image">
                  <img src="{% static "img/footer/cards/2.png" %}" alt="image">
                  {% comment %} <img src="{% static "img/footer/cards/3.png" %}" alt="image"> {% endcomment %}
                  {% comment %} <img src="{% static "img/footer/cards/4.png" %}" alt="image"> {% endcomment %}
                  {% comment %} <img src="{% static "img/footer/cards/5.png" %}" alt="image"> {% endcomment %}
                  <img src="{% static "img/footer/cards/6.png" %}" alt="image">
                  {% comment %} <img src="{% static "img/footer/cards/7.jpg" %}" alt="image"> {% endcomment %}
                </div>
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="footer__bottom">
        <div class="row y-gap-5 justify-between items-center">
          <div class="col-auto">
            <div><a href="/">© Copyright Makalu Mountaineering 2023</a></div>
          </div>

          <div class="col-auto">
            <div class="footer__images d-flex items-center x-gap-10">
              <a href="/terms-and-conditions/">Terms and Conditions</a> / Privacy Policy
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
