{% load static %}


<header class="header -type-1 js-header">
    <div data-anim="" class="header__container container">
      <div class="headerMobile__left">
        <button class="header__menuBtn js-menu-button">
          <i class="icon-main-menu"></i>
        </button>
      </div>

      <div class="header__logo">
        <a href="/" class="header__logo">
          <img src="{% static "img/logo/logoblack.png" %}" alt="logo icon" id="main_header_logo">
        </a>

        <div class="xl:d-none ml-30">
          <div class="header__search js-liverSearch js-form-dd">
            <i class="icon-search text-18"></i>
            <input type="text" placeholder="Search destinations or activities" class="js-search" data-x-click="headerSearch">

            <div class="headerSearchRecent" data-x="headerSearch" data-x-toggle="is-active">
              <div class="headerSearchRecent__container">
                <div class="headerSearchRecent__title">
                  <h4 class="text-18 fw-500">Recent Searches</h4>
                </div>

                <div class="headerSearchRecent__list js-results">
                  {% for recent_search in recent_searchs %}
                  <a href="/peek/details/{{recent_search.id}}" class="headerSearchRecent__item js-search-option" data-x-click="headerSearch">
                    <div class="size-50 bg-white rounded-12 border-1 flex-center">
                      <img src="{{recent_search.thumbnail.url}}" alt="image" class="rounded-12" style="height: 40px;">
                    </div>
                    <div class="ml-10">
                      <div class="fw-500 js-search-option-target">{{recent_search.name|title}}</div>
                      <div class="lh-14 text-14 text-light-2">{{recent_search.region_peak|title}}</div>
                    </div>
                  </a>
                  
                  
                  
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="headerMobile__right">
        <button class="d-flex" id="navbar__cta-search">
          <i class="icon-search text-18"></i>
        </button>

      </div>

      <div class="header__right">

        <div class="headerDropdown lg:d-none js-form-dd">
          <div class="headerDropdown__button " data-x-click="headerDestinations">
            Expeditions
            <i class="icon-chevron-down text-18"></i>
          </div>

          <div class="headerDropdown__content" data-x="headerDestinations" data-x-toggle="is-active">
            <div class="tabsMenu">
              <div class="tabsMenu__container">
                <div class="tabs js-tabs">
                  <div class="tabsMenu__tabs">
                    <div class="tabs__controls js-tabs-controls">

                      <button class="tabs__button js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">8000</button>

                      <button class="tabs__button js-tabs-button " data-tab-target=".-tab-item-2">7000</button>

                      <button class="tabs__button js-tabs-button " data-tab-target=".-tab-item-3">6000</button>

                    

                    </div>
                  </div>

                  <div class="tabsMenu__content">
                    <div class="tabs__content js-tabs-content">

                      {% for expeditions_individual in expeditions_peek %}
                      <div class="tabs__pane -tab-item-{{forloop.counter}} {% if forloop.counter == 1 %}is-tab-el-active{% endif %}">
                        <div class="row-image-test">
                          {% for individual_peek in expeditions_individual %}
                            <div class="image-container">
                              <a href="/peek/details/{{individual_peek.id}}/">
                                <div class="image-box-pair">
                                  <img src="{{individual_peek.thumbnail.url}}" alt="Image 1">  
                                  <div class="image-text">{{individual_peek.name|upper}}</div>
                                </div>
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      {% endfor %}


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="headerDropdown lg:d-none js-form-dd">
          <div class="headerDropdown__button " data-x-click="header-activities">
            Trekking
            <i class="icon-chevron-down text-18"></i>
          </div>

          <div class="headerDropdown__content" data-x="header-activities" data-x-toggle="is-active">
            <div class="tabsMenu">
              <div class="tabsMenu__container">
                <div class="tabs js-tabs">
                  <div class="tabsMenu__tabs">
                    <div class="tabs__controls js-tabs-controls">

                      {% for region in regions %}

                      <button class="tabs__button js-tabs-button {% if forloop.counter == 1 %}is-tab-el-active{% endif %}" data-tab-target=".-tab-item-{{forloop.counter}}">{{region.name|title}}</button>

                      {% endfor %}
                      
                    </div>
                  </div>

                  <div class="tabsMenu__content">
                    <div class="tabs__content js-tabs-content">


                      {% for peek in regions_peek %}

                      <div class="tabs__pane -tab-item-{{forloop.counter}} {% if forloop.counter == 1 %}is-tab-el-active{% endif %}">
                   
                        <div class="row-image-test">
                          {% for individual_peek in peek %}
                            <div class="image-container">
                              <a href="/tours/details/{{individual_peek.id}}/">
                                <div class="image-box-pair">
                                  <img src="{{individual_peek.thumbnail.url}}" alt="Image 1">  
                                  <div class="image-text">{{individual_peek.name|upper}}</div>
                                </div>
                              </a>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                        
                      {% endfor %}


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="headerDropdown  js-form-dd">
          <div class="headerDropdown__button" data-x-click="header-currency">
            Quick Links
            <i class="icon-chevron-down text-18"></i>
          </div>

          <div class="headerDropdown__content" data-x="header-currency" data-x-toggle="is-active">
            <div class="headerDropdown">
              <div class="headerDropdown__container">

                <div class="headerDropdown__item">
                  <a class="" href="/blogs/">Blogs</a>
                </div>

                <div class="headerDropdown__item">
                  <a class="" href="/faq/">FAQ</a>
                </div>

                <div class="headerDropdown__item">
                  <a class="" href="/gallery/">Gallery</a>
                </div>

                
                

              </div>
            </div>
          </div>
        </div>


       

        <a href="/contact-us/" class="button -sm -dark-1 bg-accent-1 rounded-200 text-white ml-30">
          Contact
        </a>

        {% comment %} <a href="login.html" class="button size-42 rounded-200 search-trip ml-20" style="border-color: black;">
          <i class="icon-search text-18"></i>
        </a> {% endcomment %}

        <button class="header__menuBtn ml-30 js-menu-button">
          <i class="icon-main-menu"></i>
        </button>
      </div>
    </div>
  </header>


  <div class="menu js-menu">
    <div class="menu__overlay js-menu-button"></div>

    <div class="menu__container">
      <div class="menu__header">
        <h4>Main Menu</h4>

        <button class="js-menu-button"><i class="icon-cross text-10"></i></button>
      </div>

      <div class="menu__content">
        <ul class="menuNav js-navList">

          <li class="menuNav__item">
            <a href="/">Home</a>
          </li>

          <li class="menuNav__item">
            <a href="/about-us/">About Us</a>
          </li>
          
          <li class="menuNav__item -has-submenu js-has-submenu">
            <a>
              Expedition
              <i class="icon-chevron-right"></i>
            </a>

            <ul class="submenu">
              <li class="submenu__item js-nav-list-back">
                <a>Back</a>
              </li>


              <li class="submenu__item">
                <a href="/expeditions/?q=8000">8000ers</a>
              </li>

              <li class="submenu__item">
                <a href="/expeditions/?q=7000">7000ers</a>
              </li>

              <li class="submenu__item">
                <a href="/expeditions/?q=6000">6000ers</a>
              </li>

            </ul>
          </li>


          <li class="menuNav__item -has-submenu js-has-submenu">
            <a>
              Trekking
              <i class="icon-chevron-right"></i>
            </a>

            <ul class="submenu">
             
              <li class="submenu__item js-nav-list-back">
                <a>Back</a>
              </li>

              {% for region in regions %}
              <li class="submenu__item">
                <a href="/trekkings/?q={{region.name}}">{{region.name|title}}</a>
              </li>
              {% endfor %}

            </ul>
          </li>


          <li class="menuNav__item -has-submenu js-has-submenu">
            <a>
              Quick Links
              <i class="icon-chevron-right"></i>
            </a>

            <ul class="submenu">
             
              <li class="submenu__item js-nav-list-back">
                <a>Back</a>
              </li>

              <li class="submenu__item">
                <a href="/blogs/">Blogs</a>
              </li>

              <li class="submenu__item">
                <a href="/faq/">FAQ</a>
              </li>

              <li class="submenu__item">
                <a href="/gallery/">Gallery</a>
              </li>

              
          <li class="submenu__item">
            <a href="https://www.immigration.gov.np/page/tourist-visa">
              Visa Procedures
            </a>
          </li>

          <li class="submenu__item">
            <a href="/trip-advisory/">
              Travel Advisory
            </a>

          </li>

          <li class="submenu__item">
            <a href="https://www.tourismdepartment.gov.np/pages/mountaineering-royalty/105">
              Permit/Garbage Fees
            </a>

            
          </li>

          

          <li class="menuNav__item">
            <a href="contact.html">Privacy Policy</a>
          </li>


            </ul>
          </li>

          

          <li class="menuNav__item">
            <a href="/terms-and-conditions/"> Terms and Condition</a>
          </li>



         
          <li class="menuNav__item">
            <a href="/contact-us/">Contact</a>
          </li>
        </ul>
      </div>


      <div class="menu__footer">
        <i class="icon-headphone text-50"></i>

        <div class="text-20 lh-12 fw-500 mt-20">
          <div>Speak to our expert at</div>
          <div class="text-accent-1"><a href="tel:+9779843685256">+977 9843685256 (Whatsapp)</a></div>
        </div>

        <div class="d-flex items-center x-gap-10 pt-30">

          <div>
            <a class="d-block" href="https://www.facebook.com/profile.php?id=100092575794417l">
              <i class="icon-facebook"></i>
            </a>
          </div>

          <div>
            <a class="d-block">
              <i class="fa-brands fa-x-twitter"></i>
            </a>
          </div>

          <div>
            <a class="d-block" href="https://www.instagram.com/makalumountaineering/">
              <i class="icon-instagram"></i>
            </a>
          </div>

          <div>
            <a class="d-block" href="https://www.linkedin.com/in/makalu-mountaineering-024bb2278/">
              <i class="icon-linkedin"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>


