{% extends 'partials/base.html' %} 


{% load static %} 

{% block css %}

{% endblock css %}

{% block content %}


{% include "breadcumb.html" %}

<section class="layout-pt-lg">
    <div data-anim-wrap class="container">
      <div class="row y-gap-20 justify-between">
        <div data-anim-child="slide-up" class="col-lg-6">
          <h2 class="text-30 fw-700">Welcome to Makalu Mountaineering</h2>
        </div>

        <div data-anim-child="slide-up delay-2" class="col-lg-5">
          <p>
            We are a premier trekking and Expedition Company based in Nepal, dedicated to providing high-quality services to adventure seekers from around the world. 
            <br><br>
            Our team of experienced and licensed guides are passionate about sharing their love of the Himalayas and providing a safe and memorable trekking and expedition experience.
          </p>

          <button class="button -md -dark-1 bg-accent-1 text-white mt-30">Learn More</button>
        </div>
      </div>
    </div>
  </section>


{% comment %}   
  <section data-anim="fade" class="layout-pt-xl relative">
    <div class="relative xl:unset container">
      <div class="layout-pt-xl layout-pb-xl rounded-12">
        <div class="sectionBg">
          <img src="{% static "img/about/1/1.png" %}" alt="image" class="img-ratio rounded-12 md:rounded-0">
        </div>

        <div class="row y-gap-30 justify-center items-center">
          <div class="col-lg-4 col-md-6">
            <h2 class="text-40 lh-13">
              We Make<br class="md:d-none">
              World Travel Easy
            </h2>

            <p class="mt-10">Traveling under your own power and at your own pace, you'll connect more meaningfully with your destination and have more fun!</p>
            <button class="button -md -dark-1 bg-accent-1 text-white mt-60 md:mt-30">Explore Our Tours</button>
          </div>

          <div class="col-md-6">
            <div class="featuresGrid">

              <div class="featuresGrid__item px-40 py-40 text-center bg-white rounded-12">
                <img src="{% static "img/icons/2/1.svg" %}" alt="icon">
                <div class="text-40 fw-700 text-accent-1 mt-20 lh-14">240</div>
                <div>Total Destinations</div>
              </div>

              <div class="featuresGrid__item px-40 py-40 text-center bg-white rounded-12">
                <img src="{% static "img/icons/2/2.svg" %}" alt="icon">
                <div class="text-40 fw-700 text-accent-1 mt-20 lh-14">3672</div>
                <div>Amazing Tours</div>
              </div>

              <div class="featuresGrid__item px-40 py-40 text-center bg-white rounded-12">
                <img src="{% static "img/icons/2/3.svg" %}" alt="icon">
                <div class="text-40 fw-700 text-accent-1 mt-20 lh-14">92,842</div>
                <div>Happy Customer</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}



  <section class="layout-pt-xl layout-pb-xl">
      <div data-anim-wrap class="container">
        <div data-anim-child="slide-up" class="row">
          <div class="col-auto">
            <h2 class="text-30">Meet The Team</h2>
          </div>
        </div>

        <div class="row y-gap-30 pt-40 sm:pt-20">

          <div data-anim-child="slide-up delay-1" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/logocrp.png" %}" alt="image" class="img-ratio bg-light-1 rounded-12" style="object-fit: contain; padding: 35px;">
            </div>

            <h3 class="text-16 fw-500 mt-20">Chhiring Sherpa</h3>
            <p class="text-14 lh-16">Founder/ Managing Director</p>
          </div>

          <div data-anim-child="slide-up delay-2" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/team/2.webp" %}" alt="image" class="img-ratio bg-light-1 rounded-12">
            </div>

            <h3 class="text-16 fw-500 mt-20">Csaba Precup</h3>
            <p class="text-14 lh-16">President/ Expedition Leader</p>
          </div>

          <div data-anim-child="slide-up delay-3" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/team/1.jpg" %}" alt="image" class="img-ratio bg-light-1 rounded-12">
            </div>

            <h3 class="text-16 fw-500 mt-20">Kami Sherpa</h3>
            <p class="text-14 lh-16">Logistic Manager/ Senior Guide</p>
          </div>

          <div data-anim-child="slide-up delay-4" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/team/exppp.jpg" %}" alt="image" class="img-ratio bg-light-1 rounded-12">
            </div>

            <h3 class="text-16 fw-500 mt-20">Nima Sherpa</h3>
            <p class="text-14 lh-16">Expedition Leader</p>
          </div>

          <div data-anim-child="slide-up delay-5" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/team/ram2.jpg" %}" alt="image" class="img-ratio bg-light-1 rounded-12">
            </div>

            <h3 class="text-16 fw-500 mt-20">Ram Tamang</h3>
            <p class="text-14 lh-16">Trekking Assistant</p>
          </div>


          {% comment %} <div data-anim-child="slide-up delay-5" class="col-lg col-md-4 col-sm-6">
            <div class="ratio ratio-23:26">
              <img src="{% static "img/team/3.jpeg" %}" alt="image" class="img-ratio bg-light-1 rounded-12">
            </div>

            <h3 class="text-16 fw-500 mt-20">Aashish Rayamajhi</h3>
            <p class="text-14 lh-16">IT Manager</p>
          </div> {% endcomment %}


        </div>
      </div>
    </section>

{% endblock %}