{% load static %}
    <section class="pageHeader -type-1"> 
    <div class="pageHeader__bg">
      <img src="{% static "img/abstract/8.jpg" %}" alt="image">
      {% comment %} <img src="{% static "img/hero/1/shape.svg" %}" alt="image"> {% endcomment %}
    </div>

    <div class="container">
      <div class="row justify-center">
        <div class="col-12">
          <div class="pageHeader__content">
            <h1 class="pageHeader__title">
              About Us
            </h1>

            <p class="pageHeader__text">
              We're a Nepal-based trekking company offering luxury adventures guided by Makalu's Sherpa team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>