{% extends 'partials/base.html' %} 


{% load static %} 

{% block css %}
<style>

  #image-box-pair2
  {
    width: 400px; 
    height: 450px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1400px) {

    #image-box-pair2
    {
      width: 350px; !important
      height: 350px; !important
    }

  }


  @media only screen and (min-width: 750px) and (max-width: 1199px) {

    #image-box-pair2
    {
      width: 300px; !important
      height: 300px; !important
    }

  }
  

</style>
{% endblock css %}

{% block content %}


<section data-anim="fade" class="pageHeader -type-2 is-in-view">
    <div class="pageHeader__bg">
      <img src="{% static "img/pageHeader/2.jpg" %}" alt="image">
      <img src="{% static "img/hero/1/shape.svg" %}" alt="image">
    </div>

    <div class="container">
      <div class="row justify-center">
        <div class="col-12">
          <div class="pageHeader__content">
            <h1 class="pageHeader__title">
              Certificates
            </h1>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="layout-pt-xl layout-pb-xl">
    <div class="container">
        <div class="row y-gap-30 pt-40 sm:pt-20">
        {% if object_lists %}
       

        {% for object in object_lists %}

                <div class="col-lg-4 col-md-6">
                


                    <div class="image-container">
                        <a href="{{object.certificates.url}}">
                        <div class="image-box-pair" id="image-box-pair2">
                            <img src="{{object.certificates.url}}" alt="Image 1">  
                            <div class="image-text">{{object.name|title}}</div>
                        </div>
                        </a>
                    </div>
                </div>

        {% endfor %}
        <div>
{% else %}
        <p style="display: flex; justify-content: center; font-size: 35px; font-weight: 500;">Documents Not added.<p>

        
    </section>
    {% endif %}
{% endblock %}