{% extends 'partials/base.html' %} 


{% load static %} 

{% block css %}

{% endblock css %}

{% block content %}


<section data-anim="fade" class="pageHeader -type-2 is-in-view">
    <div class="pageHeader__bg">
      <img src="{% static "img/pageHeader/2.jpg" %}" alt="image">
      <img src="{% static "img/hero/1/shape.svg" %}" alt="image">
    </div>

    <div class="container">
      <div class="row justify-center">
        <div class="col-12">
          <div class="pageHeader__content">
            <h1 class="pageHeader__title">
              Welcome to the Help Center
            </h1>

            <p class="pageHeader__text">
              Lorem ipsum is placeholder text commonly used in site.
            </p>

            <div class="pageHeader__search">
              <input type="text" placeholder="Search for a topic">
              <button>
                <i class="icon-search text-15 text-white"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="layout-pt-xl layout-pb-xl">
    <div class="container">
      <div class="row justify-center text-center">
        <div class="col-auto">
          <h2 class="text-30 md:text-24">Frequently Asked Questions</h2>
        </div>
      </div>

      <div class="row justify-center pt-40">
        <div class="col-xl-8 col-lg-10">
          <div class="accordion -simple row y-gap-20 js-accordion">

            <div class="col-12">
              <div class="accordion__item px-20 py-15 border-1 rounded-12">
                <div class="accordion__button d-flex items-center justify-between">
                  <div class="button text-16 text-dark-1">Can I get the refund?</div>

                  <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                    <i class="icon-plus"></i>
                    <i class="icon-minus"></i>
                  </div>
                </div>

                <div class="accordion__content">
                  <div class="pt-20">
                    <p>Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat cancellation policy: For a full refund, cancel at least 24 hours in advance of the start date of the experience. Discover and book Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="accordion__item px-20 py-15 border-1 rounded-12">
                <div class="accordion__button d-flex items-center justify-between">
                  <div class="button text-16 text-dark-1">Can I change the travel date?</div>

                  <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                    <i class="icon-plus"></i>
                    <i class="icon-minus"></i>
                  </div>
                </div>

                <div class="accordion__content">
                  <div class="pt-20">
                    <p>Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat cancellation policy: For a full refund, cancel at least 24 hours in advance of the start date of the experience. Discover and book Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="accordion__item px-20 py-15 border-1 rounded-12">
                <div class="accordion__button d-flex items-center justify-between">
                  <div class="button text-16 text-dark-1">When and where does the tour end?</div>

                  <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                    <i class="icon-plus"></i>
                    <i class="icon-minus"></i>
                  </div>
                </div>

                <div class="accordion__content">
                  <div class="pt-20">
                    <p>Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat cancellation policy: For a full refund, cancel at least 24 hours in advance of the start date of the experience. Discover and book Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="accordion__item px-20 py-15 border-1 rounded-12">
                <div class="accordion__button d-flex items-center justify-between">
                  <div class="button text-16 text-dark-1">Do you arrange airport transfers?</div>

                  <div class="accordion__icon size-30 flex-center bg-light-2 rounded-full">
                    <i class="icon-plus"></i>
                    <i class="icon-minus"></i>
                  </div>
                </div>

                <div class="accordion__content">
                  <div class="pt-20">
                    <p>Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat cancellation policy: For a full refund, cancel at least 24 hours in advance of the start date of the experience. Discover and book Phang Nga Bay Sea Cave Canoeing &amp; James Bond Island w/ Buffet Lunch by Big Boat</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}