{% extends 'partials/base.html' %} 


{% load static %} 

{% block css %}

{% endblock css %}

{% block content %}



  <section class="layout-pt-xl layout-pb-xl">
    <div class="container">
      

      <div data-anim-wrap="" class="grid -type-1 pt-40 sm:pt-20 animated">

        <a href="{% static "img/gallery/1.jpg" %}" data-anim-child="slide-up delay-1" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/1.jpg" %}" alt="image">
          </div>
{% comment %} 
          <div class="featureCard__content">
            <h4 class="text-white">
              Mt Makalu Expedition
            </h4>
          </div> {% endcomment %}
        </a>

        <a href="{% static "img/gallery/2.jpg" %}" data-anim-child="slide-up delay-2" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/2.jpg" %}" alt="image">
          </div>
{% comment %} 
          <div class="featureCard__content">
            <h4 class="text-white">
              Ama Dabain Trek
            </h4>
          </div> {% endcomment %}
        </a>

        <a href="{% static "img/gallery/3.jpg" %}" data-anim-child="slide-up delay-3" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/3.jpg" %}" alt="image">
          </div>

          {% comment %} <div class="featureCard__content">
            <h4 class="text-white">
              Langtang Valley Trek
            </h4>
          </div> {% endcomment %}
        </a>

        <a href="{% static "img/gallery/4.jpg" %}" data-anim-child="slide-up delay-4" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/4.jpg" %}" alt="image">
          </div>

          {% comment %} <div class="featureCard__content">
            <h4 class="text-white">
              Three Pass Trek
            </h4>
          </div> {% endcomment %}
        </a>

        <a href="{% static "img/gallery/5.jpg" %}" data-anim-child="slide-up delay-5" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/5.jpg" %}" alt="image">
          </div>
{% comment %} 
          <div class="featureCard__content">
            <h4 class="text-white">
              Shrepani Col Pass
            </h4>
          </div> {% endcomment %}
        </a>

        <a href="{% static "img/gallery/6.jpg" %}" data-anim-child="slide-up delay-6" class="featureCard -type-1 -hover-1 overflow-hidden rounded-12 px-30 py-30 is-in-view">
          <div class="featureCard__image">
            <img src="{% static "img/gallery/6.jpg" %}" alt="image">
          </div>

          {% comment %} <div class="featureCard__content">
            <h4 class="text-white">
              Upper Mustang
            </h4>
          </div> {% endcomment %}
        </a>

      </div>
    </div>
  </section>


  {% endblock %}