{% extends 'partials/base.html' %} 


{% load static %} 

{% block css %}

{% endblock css %}

{% block content %}

<section data-anim="fade" class="mt-header pt-30 is-in-view">
    <div class="container">
      <div class="breadcrumbs mb-30 md:mb-15">
        <span class="breadcrumbs__item">
          <a href="/">Home</a>
        </span>
        <span>&gt;</span>
       
        <span class="breadcrumbs__item">
          <a href="#">Royalty Free Peaks</a>
        </span>
      </div>

      {% comment %} <h1 class="text-30">Royalty Free Peaks</h1> {% endcomment %}
    </div>
  </section>

  <section class="layout-pb-xl">
    <div class="container">

        <div class="col-12">
            <div class="text-20 fw-500 mb-30">

            <div class="text-18 fw-500 mb-20">Royalty Free Mountain Peaks
            </div></div>
            <p class="text-15 text-dark-1">
                The Government of Nepal has made a significant decision to waive royalty fees for climbing specific mountain peaks. This recent announcement entails both partial and complete exemption of royalty fees for a total of 60 mountain peaks within the country. The government's move is strategically aligned with its efforts to boost the trekking and mountaineering sector, particularly in conjunction with Destination Nepal Year 2002-003 and the commemoration of the golden jubilee of the successful ascent of Mt. Everest. Additionally, this initiative aligns with the spirit of International Mountaineering Tourism Year 2021, showcasing Nepal as a premier destination for mountaineering enthusiasts.
              
            </p>
          </div>


        <div class="col-lg-12">
            {% comment %} <div class="text-22 fw-500">Table</div> {% endcomment %}

            <table class="table-4 w-1/1 mt-30">
                <thead class="bg-light-1">
                    <tr>
                        <th>S.No</th>
                        <th>Name of the Peaks</th>
                        <th>Altitude<br>in Meter</th>
                        <th>District</th>
                        <th>Zone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4">
                            <b>100% Royalty Free Mountain Peaks</b>

                            </td>
                        
                    </tr>
                    <tr>
                        <td>01.</td>
                        <td>Api</td>
                        <td>7132</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>02.</td>
                        <td>Api west</td>
                        <td>7100</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>03.</td>
                        <td>Bobaye</td>
                        <td>6808</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>04.</td>
                        <td>Api</td>
                        <td>7132</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>05.</td>
                        <td>Jethi Bahurani</td>
                        <td>6850</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>06.</td>
                        <td>Mt. Korko</td>
                        <td>6053</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>07.</td>
                        <td>Nampa</td>
                        <td>6755</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>08.</td>
                        <td>Nampa, South</td>
                        <td>6580</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>09.</td>
                        <td>Saipal</td>
                        <td>7031</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>10.</td>
                        <td>Saipal, East</td>
                        <td>6882</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>11.</td>
                        <td>Mt. Rokapi</td>
                        <td>5467</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>12.</td>
                        <td>Mt. Roma</td>
                        <td>5407</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>13.</td>
                        <td>Fimkof</td>
                        <td>6697</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>14.</td>
                        <td>Fimkof West</td>
                        <td>6645</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>15.</td>
                        <td>Surma-Sarovar, North</td>
                        <td>6523</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>16.</td>
                        <td>Radsha Urai</td>
                        <td>6593</td>
                        <td>Bajhang</td>
                        <td>Seti</td>
                    </tr>
                    <tr>
                        <td>17.</td>
                        <td>Saipal, East</td>
                        <td>6882</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>18.</td>
                        <td>Saipal</td>
                        <td>7031</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>19.</td>
                        <td>Api west</td>
                        <td>7100</td>
                        <td>Darchula</td>
                        <td>Mahakali</td>
                    </tr>
                    <tr>
                        <td>20.</td>
                        <td>Mt. Yokopahar-(Nampa 7 )</td>
                        <td>6401</td>
                        <td>Darchula-Bajhang</td>
                        <td>Mahakali/Seti</td>
                    </tr>
                    <tr>
                        <td>21.</td>
                        <td>Tent Peak</td>
                        <td>5663</td>
                        <td>Mustang</td>
                        <td>Dhaulagiri</td>
                    </tr>
                    <tr>
                        <td>22.</td>
                        <td>Mardi Himal</td>
                        <td>5587</td>
                        <td>Kaski</td>
                        <td>Gandaki</td>
                    </tr>
                    <tr>
                        <td>23.</td>
                        <td>Yala Peak</td>
                        <td>5732</td>
                        <td>Rasuwa</td>
                        <td>Bagmati</td>
                    </tr>
                    <tr>
                        <td>24.</td>
                        <td>Chukung ri</td>
                        <td>5550</td>
                        <td>Solukhumbu</td>
                        <td>Sagarmatha</td>
                    </tr>
                    <tr>
                        <td>25.</td>
                        <td>Machhermo</td>
                        <td>5559</td>
                        <td>Solukhumbu</td>
                        <td>Sagarmatha</td>
                    </tr>
                    <tr>
                        <td>26.</td>
                        <td>Pokhalde</td>
                        <td>5780</td>
                        <td>Solukhumbu</td>
                        <td>Sagarmatha</td>
                    </tr>



                    <tr>
                        <td colspan="5">
                            <b>
                            Peaks with altitudes below 6500 meters, both new and existing, will no longer require a Liaison Officer starting from the upcoming spring season in 2021 (effective March 01, 2022).</td>
                            </b>
                    </tr>

                </tbody>
            </table>
            
          </div>
        

    </div>

</section>



  {% endblock %}